/* clases tipografia*/

.title-xxl-accent {
    font-family: $fontAccent;
    font-size: $fsizeXXL;
    //line-height: 13rem;
    font-weight: 400;
    @media (max-width:$breakpoint1440) {
        font-size: $fsizeXXLLaptop;
        //line-height: 11.5rem;
    }

    @media (max-width:$breakpointLaptop) {
        font-size: $fsizeXXLLaptop;
        //line-height: 11.5rem;
    }

    @media (max-width:$breakpoint935) {
        font-size: $fsizeXXLTablet;
        //line-height: 5.8rem;
    }

    @media (max-width:$breakpointMovil) {
        font-size: $fsizeXXLMovil;
        //line-height: 5.8rem;
    }

    @media (max-width:375px) {
        font-size: 3.5rem;
        //line-height: 5.8rem;
    }
}

.title-xl-accent {
    font-family: $fontAccent;
    font-size: $fsizeXL;

    font-weight: 400;

    @media (max-width:$breakpointLaptop) {
        font-size: $fsizeXLLaptop;

    }

    @media (max-width:$breakpointTablet) {
        font-size: $fsizeXLTablet;

    }

    @media (max-width:$breakpointMovil) {
        font-size: $fsizeXLMovil;
        line-height: 1rem;
    }
}


.title-xl-primary {
    font-family: $fontPrimary;
    font-size: $fsizeXL;
    line-height: 4.6rem;
    font-weight: 400;

    @media (max-width:$breakpointLaptop) {
        font-size: $fsizeXLLaptop;
        line-height: 11.5rem;
    }

    @media (max-width:$breakpointTablet) {
        font-size: $fsizeXLTablet;
        line-height: 5.8rem;
    }

    @media (max-width:$breakpointMovil) {
        font-size: $fsizeXLMovil;
        line-height: 3.5rem;
    }
}

.title-l-primary {
    font-family: $fontPrimary;
    font-size: $fsizeL;
    line-height: 2.4rem;
    font-weight: 400;

    @media (max-width:$breakpointLaptop) {
        font-size: $fsizeLLaptop;
        line-height: 2.4rem;
    }

    @media (max-width:$breakpointTablet) {
        font-size: $fsizeLTablet;
        line-height: 2rem;
    }

    @media (max-width:$breakpointMovil) {
        font-size: $fsizeLMovil;
        line-height: 1.9rem;
    }

}

.sub-title-xxl {
    font-family: $fontOptions;
    font-size: $fsOptionEncabezado;
    line-height: 36px;
    letter-spacing: 4.8px;
    font-weight: 400;
    @media (max-width:$breakpoint1440) {
        font-size: $fsOptionEncabezadoLaptop;
        //line-height: 11.5rem;
    }
    @media (max-width:$breakpointLaptop) {
        font-size: $fsOptionEncabezadoLaptop;
        line-height: 36px;
    }

    @media (max-width:$breakpointTablet) {
        font-size: $fsOptionEncabezadoTablet;
        line-height: 28px;
    }

    @media (max-width:$breakpointMovil) {
        font-size: $fsOptionEncabezadoMovil;
        line-height: 18px;
        letter-spacing: 2.4px;
    }
}

.sub-title-xl {
    font-family: $fontOptions;
    font-size: $fsOptionMenu;
    line-height: 36px;
    letter-spacing: 4.8px;
    font-weight: 400;

    @media (max-width:$breakpointLaptop) {
        font-size: $fsOptionMenuLaptop;
        line-height: 20px;
    }

    @media (max-width:$breakpointTablet) {
        font-size: $fsOptionMenutablet;
        line-height: 20px;
    }

    @media (max-width:$breakpointMovil) {
        font-size: $fsOptionMenuMovil;
        line-height: 18px;
        letter-spacing: 2.4px;
    }
}

.option-menu {
    font-family: $fontOptions;
    font-size: $fsOptionMenu;
    line-height: 36px;
    letter-spacing: 3.6px;
    font-weight: 400;

    @media (max-width:$breakpointLaptop) {
        font-size: $fsOptionMenuLaptop;
        line-height: 30px;
    }

    @media (max-width:$breakpointLaptop) {
        font-size: $fsOptionMenutablet;
        line-height: 24px;
    }

    @media (max-width:$breakpointMovil) {
        font-size: $fsOptionMenuMovil;
        line-height: 18px;
        letter-spacing: 2.4px;
    }
}

.encabezado {
    font-family: $fontPrimary;
    font-weight: 700;
    font-size: $fsEncabezado;
    line-height: 28px;

    @media (max-width:$breakpointLaptop) {
        font-size: $fsEncabezadoLaptop;
        line-height: 20px;
    }

    @media (max-width:$breakpointTablet) {
        font-size: $fsEncabezadoTablet;
        line-height: 18px;
    }

    @media (max-width:$breakpointMovil) {
        font-size: $fsEncabezadoMovil;
        line-height: 14px;
        letter-spacing: 2.4px;
    }
}

.texto-regular {
    font-family: $fontSecondary;
    font-size: $fsRegular;
    letter-spacing: 0.32px;
    line-height: 24px;

    @media (max-width:$breakpointLaptop) {
        font-size: $fsRegularLaptop;
        line-height: 20px;
    }

    @media (max-width:$breakpointTablet) {
        font-size: $fsRegularTablet;
        line-height: 18px;
    }

    @media (max-width:$breakpointMovil) {
        font-size: $fsRegularMovil;
        line-height: 12px;
        letter-spacing: 0.16px;
    }
}

.caption {
    font-family: $fontPrimary;
    font-size: $fsCaption;
    line-height: 18px;

    @media (max-width:$breakpointLaptop) {
        font-size: $fsCaptionLaptop;
        line-height: 15px;
    }

    @media (max-width:$breakpointLaptop) {
        font-size: $fsCaptionTablet;
        line-height: 13px;
    }

    @media (max-width:$breakpointMovil) {
        font-size: $fsCaptionMovil;
        line-height: 9px;
    }
}

.text-small {
    font-family: $fontPrimary;
    font-size: $fsSmall;
    line-height: 16px;

    @media (max-width:$breakpointLaptop) {
        font-size: $fsSmallLaptop;
        line-height: 14px;
    }

    @media (max-width:$breakpointTablet) {
        font-size: $fsSmallTablet;
        line-height: 12px;
    }

    @media (max-width:$breakpointMovil) {
        font-size: $fsSmallMovil;
        line-height: 8px;
    }
}
