.fila {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.columna{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    @media (max-width:$breakpointMovil) {
        padding: 20px;
        width: 100%;

    }
}

.contenedor{  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    width: 100%;
}

.gap-20 {
    gap: 20px;
}

.gap-10 {
    gap: 10px;
}

.boton {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

.btn-info {
    border: 2px solid $primaryColor;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.15));
    padding: 5px;
    font-family: $fontPrimary;
    border-radius: 4px;
}

.btn-info-solid {
    background-color: $primaryColor;
    font-weight: bold;
    width: 65px;
    height: 25px;

    @media (max-width:$breakpointTablet) {
        width: 55px;
        height: 25px;
    }
}

.btn-login {
    border: 2px solid $accentColor;
    color: $accentColor;
    font-family: $fontOptions;
    font-size: $fsOptionMenu;
    padding: 10px 30px 10px 30px;

    @media (max-width:$breakpointTablet) {
        padding: 10px 30px 10px 30px;


    }
}

.btn_news {
    border: 2px solid $accentColor;
    border-radius: 4px;
    color: $accentColor;
    font-family: $fontOptions;
    font-size: $fsOptionMenu;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width:$breakpointTablet) {
        width: 27px;
        height: 27px;
    }
}

.btn-submit-form {
    background-color: $submitColor;
    color: $lightColor;
    font-family: $fontOptions;
    font-size: $fsOptionMenu;
    padding: 10px 30px 10px 30px;

}

.btn-borrar {
    border: 2px solid $redColor;
    color: $redColor;
    font-family: $fontOptions;
    font-size: $fsOptionMenu;
    padding: 10px 30px 10px 30px;

}

.btn-cancelar {
    border: 2px solid $secondaryColor;
    color: $darkColor;
    font-family: $fontOptions;
    font-size: $fsOptionMenu;
    padding: 10px 30px 10px 30px;

}

.btn-small {
    border: 2px solid $darkColor;
    color: $darkColor;
    font-family: $fontPrimary;
    font-size: $fsCaption;
    width: 130px;
    height: 22px;
}

.btn-registro {
    padding: 20px 10px;
    border-radius: 4px;
    border: 2px solid $lightColor;
    font-family: $fontPrimary;
    font-size: $fsRegular;
}

.bold {
    font-weight: bold;
}

.color-accent {
    color: $accentColor;
}

.color-red {
    color: $redColor;
}

.color-light {
    color: $lightColor;
}

.color-purple{
    color: $primaryColor;
}

.sr-only {
    display: none;
}

.pad-20 {
    padding: 20px;
}

.ocultar {
    visibility: hidden;
}

.active {
    border-bottom: 4px solid $accentColor;
}

.end {
    align-self: flex-end;
}

.center {
    align-self: center;
}

.box-evento{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 240px;
    height: 350px;
    border-radius: 4px;
    aspect-ratio: 1;
    padding: 15px;
    
    .info-evento{
        display: flex;
        flex-direction: column;        
        gap: 6px;
        align-items: flex-end;
    }
    .fila{
        justify-content: space-between;
        align-items: center;
        span{
            text-align: right;
            width: 60%;
        }
    }
    
}
