

.carousel{
    position: relative;
    width: 80%;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: $breakpoint800){
        width: 100%;
    }

}

.carousel-indicators{
    position: absolute;   
    bottom: 0%;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    z-index: 999;
    li{        
        span{
            display: block;
            width: 30px;
            height: 4px;                        
            border-radius: 2px;
            
        }
        
    }
}
.color-no-active{
    background-color: $accentColor;
}

.color-active{
    background-color: $primaryColor; 
}

.carousel-inner{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.carousel-control-prev{
    cursor: pointer;
    position: absolute;    
    bottom: 50%;
    left:5%;
    margin: auto;
    span{
        img{
            width: 30px;
            height: 30px;
        }
    }
}

.carousel-control-next{
    cursor: pointer;
    position: absolute;
    bottom: 50%;    
    right: 5%;
    margin: auto;
    span{
        img{
            width: 30px;
            height: 30px;
        }
    }
}

.carousel-item{
    width: 100%;
    height: 400px;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.carousel-caption{
    position: absolute;
    bottom: 1%;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
}

.fade-in-right {
	-webkit-animation: fade-in-right 0.4s ease-in both;
	        animation: fade-in-right 0.4s ease-in both;
}
@-webkit-keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fade-in-right {
    0% {
      -webkit-transform: translateX(50px);
              transform: translateX(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  
  
  