app-contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        align-self: flex-start;
    }
}



#contacto {
    .fila {
        @media (max-width:$breakpoint800) {
            flex-direction: column;
        }
    }
    form{
        //padding: 0px 150px 0px 150px;
        @media (max-width:$breakpoint800){
            padding: 0px;
        }
    }
}

