@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Quicksand&family=Roboto&family=Teko&display=swap');

@font-face {
    font-family: 'buffaloregular';
    src: url('../fuente-buffalo/buffalo-regular-webfont.woff2') format('woff2'),
        url('../fuente-buffalo/buffalo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
