.inputCurrency{
    position: relative;

    span{
        position: absolute;
        top: 10px;
        right: 10px;
    }
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Examinar';
    background-color: transparent;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    border: 2px solid $darkColor;
    color: $darkColor;
    font-family: $fontPrimary;
    font-size: $fsCaption;
    padding: 2px 6px;
}


.form-control {
    display: flex;
    align-items: center;
    gap: 10px;
}


input {
    border: none;
    border-bottom: 2px solid $accentColor;
    width: 90%;
    padding: 10px;
    font-family: $fontPrimary;
    font-size: $fsRegular;
    outline: none;
}

input[type='text'] {
    border: none;
    border-bottom: 2px solid $accentColor;
    width: 90%;
    padding: 10px;
    font-family: $fontPrimary;
    font-size: $fsRegular;
    outline: none;
}

input[type='password'] {
    border: none;
    border-bottom: 2px solid $accentColor;
    width: 90%;
    padding: 10px;
    font-family: $fontPrimary;
    font-size: $fsRegular;
    outline: none;
}

input [type='email'] {
    size: 50;
}

input [type='email'] {
    border: none;
    border-bottom: 2px solid $accentColor;
    width: 90%;
    padding: 10px;
    font-family: $fontPrimary;
    font-size: $fsRegular;
    outline: none;
}

/*check box*/
input[type='checkbox'] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: $accentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid $accentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em $accentColor;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}
input:active {
    outline: none;
    font-family: $fontPrimary;
    color: #727144;
}

/*fin check box*/

/* text area*/
textarea {
    border: 2px solid $accentColor;
    border-radius: 4px;
    outline: none;
    font-family: $fontPrimary;
    font-size: $fsRegular;
    padding: 10px;

    @media (max-width:$breakpointMovil) {
        width: 100%;
    }


}
/*fin text area */