.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    right: 0;
    position: relative;
}

.img-grande {
    aspect-ratio: 1;
    border-radius: 4px;
    object-fit: contain;

}


.modal-evento {
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, $blueColor 0%, rgba(255, 255, 255, 1) 80%);
    width: 70%;
    height: auto;
    max-height: 70%;
    overflow-y: auto;
    box-shadow: 5px 5px 6px #ccc;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 20px;

    @media (max-width:$breakpoint935) {
        width: 80%;
    }

    @media (max-width:$breakpoint800) {
        width: 90%;
    }

    @media (max-width:730px) {
        width: 100%;

    }

    .fila:first-child {
        justify-content: space-between;
        align-items: center;


    }

    .content-evento {
        display: flex;
        align-items: flex-start;

        @media (max-width:$breakpointMovil) {
            flex-direction: column;
        }

        .columna:first-child {
            @media (max-width:$breakpointMovil) {
                order: 2;
            }
        }

        .columna {
            width: 50%;
            @media (max-width:$breakpointMovil){
                width: 100%;
            }

       

            .fila {
                align-items: center;

                span {
                    a {
                        color: $accentColor;

                        @media (max-width:730px) {
                            width: 16px;
                        }
                    }
                }

                span:last-child {

                    svg {
                        width: 24px;
                        fill: $accentColor;

                        @media (max-width:730px) {
                            width: 16px;
                        }
                    }
                }
            }

            .fila:last-child {
                justify-content: space-between;
            }

            .fila+.social {
                gap: 20px;

                span {
                    svg {
                        width: 24px;
                        fill: $accentColor;

                        @media (max-width:730px) {
                            width: 16px;
                        }
                    }
                }

                @media (max-width:730px) {
                    gap: 10px;
                }

                @media (max-width:$breakpointMovil) {
                    gap: 5px;
                }
            }
        }

        .columna:nth-child(2) {

            gap: 10px;
        }
    }
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: $blueColor;
    color: $accentColor;
    text-align: center;
    border-radius: 4px;
    padding: 4px 2px;
    position: absolute;
    top: 30px;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.cerrar-modal {
    position: absolute;
    top: 5%;
    right: 5%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;

    span {

        svg {
            fill: #fff;

        }
    }
}

.primerafila {
    justify-content: space-between;
    /*  @media (max-width:576px){
        justify-content: space-around;
    }*/
}

.aRevista {
    text-decoration: none;
    cursor: pointer;
}