#modificar-datos-especialista {

    .wrapper-form {
        width: 100%;
        display: grid;
        grid-template-columns: [first] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [col5] 1fr [col6] 1fr [col7] 1fr [col8] 1fr [end];

        grid-template-rows: auto;
        gap: 20px;
        place-items: center;

        @media (max-width:$breakpoint760) {
            gap: 10px;
        }

        .columna {
            width: 100%;
        }
    }

    form {
        padding: 0px 20px 20px 20px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width:$breakpointTablet) {
            padding: 20px;
        }
    }

    input {
        border-color: black;
        width: 100%;

    }


    .box-formulario-evento {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        width: 100%;

        @media (max-width:$breakpoint760) {
            padding: 10px;
            padding-bottom: 100px;
        }

    }

    .nombre {
        grid-column-start: col4;
        grid-column-end: col6;

        @media (max-width:$breakpoint860) {
            grid-column-start: col5;
            grid-column-end: col8;
        }

        @media (max-width:$breakpointMovil) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .apellidos {
        grid-column-start: first;
        grid-column-end: col4;

        @media (max-width:$breakpoint860) {
            grid-column-start: first;
            grid-column-end: col5;
        }

        @media (max-width:$breakpointMovil) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .actividad {
        grid-column-start: first;
        grid-column-end: col4;

        @media (max-width:$breakpoint860) {
            grid-column-start: first;
            grid-column-end: col4;
        }

        @media (max-width:$breakpointMovil) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .categoria {
        grid-column-start: col5;
        grid-column-end: col8;

        @media (max-width:$breakpoint860) {
            grid-column-start: col5;
            grid-column-end: col8;
        }

        @media (max-width:$breakpointMovil) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .telefono {
        grid-column-start: first;
        grid-column-end: col3;

        @media (max-width:$breakpoint860) {
            grid-column-start: first;
            grid-column-end: col5;
        }

        @media (max-width:$breakpoint760) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .email {
        grid-column-start: col3;
        grid-column-end: col6;

        @media (max-width:$breakpoint860) {
            grid-column-start: first;
            grid-column-end: col6;
        }

        @media (max-width:$breakpoint760) {
            grid-column-start: first;
            grid-column-end: col8;
        }

        @media (max-width:$breakpointMovil) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .web {
        grid-column-start: col6;
        grid-column-end: col8;

        @media (max-width:$breakpoint860) {
            grid-column-start: first;
            grid-column-end: col6;
        }

        @media (max-width:$breakpoint760) {
            grid-column-start: first;
            grid-column-end: col8;
        }

        @media (max-width:$breakpointMovil) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }


    .direccion {
        grid-column-start: first;
        grid-column-end: col6;

        @media (max-width:$breakpoint860) {
            grid-column-start: first;
            grid-column-end: col5;
        }

        @media (max-width:$breakpointMovil) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .poblacion {
        grid-column-start: first;
        grid-column-end: col4;

        /*   @media (max-width:$breakpoint860) {
            grid-column-start: col5;
            grid-column-end: col8;
        }*/

        @media (max-width:$breakpointMovil) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .provincia {
        grid-column-start: col4;
        grid-column-end: col8;

        /*    @media (max-width:$breakpoint860) {
            grid-column-start: first;
            grid-column-end: col5;
        }*/

        @media (max-width:$breakpointMovil) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .c-postal {
        grid-column-start: first;
        grid-column-end: col4;

        @media (max-width:$breakpoint860) {
            grid-column-start: first;
            grid-column-end: col4;
        }

        @media (max-width:$breakpointMovil) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .pais {
        grid-column-start: col4;
        grid-column-end: col8;

        @media (max-width:$breakpoint860) {
            grid-column-start: col4;
            grid-column-end: col8;
        }

        @media (max-width:$breakpointMovil) {
            grid-column-start: first;
            grid-column-end: col8;
        }

    }

    .instagram {

        grid-column-start: first;
        grid-column-end: col4;


        @media (max-width:$breakpoint860) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .twitter {

        grid-column-start: col4;
        grid-column-end: col8;


        @media (max-width:$breakpoint860) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .facebook {

        grid-column-start: first;
        grid-column-end: col4;


        @media (max-width:$breakpoint860) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .you_tube {

        grid-column-start: col4;
        grid-column-end: col8;


        @media (max-width:$breakpoint860) {
            grid-column-start: first;
            grid-column-end: col8;
        }
    }

    .descripcion {
        grid-column-start: first;
        grid-column-end: col8;

    }

    .img-input {
        grid-column-start: first;
        grid-column-end: col8;
    }

    .img-video {
        min-width: 350px;
        min-height: 350px;
        grid-column-start: first;
        grid-column-end: col8;
        place-items: start;

        @media (max-width:760px) {
            max-width: 200px;
            max-height: 200px;

        }

        video {
            //aspect-ratio: 1;
            width: 100%;
            min-height: 100%;
            object-fit: contain;

            @media (max-width:576px) {
                width: 320px;
                min-height: 100%;
                object-fit: contain;

            }

        }
    }

    .img-evento {
        border: 2px solid black;
        border-radius: 4px;
        min-width: 200px;
        min-height: 200px;
        max-width: 300px;
        max-height: auto;
        grid-column-start: first;
        grid-column-end: col8;
        place-items: start;

        @media (max-width:760px) {
            max-width: 200px;
            max-height: 200px;

        }

        img {
            aspect-ratio: 1;
            width: 100%;
            min-height: 100%;
            object-fit: contain;
        }

    }

    .legal {
        grid-column-start: first;
        grid-column-end: col8;
    }

    .botones {
        margin-top: 40px;
        display: flex;
        justify-content: flex-end;

        @media (max-width:576px) {
            justify-content: center;
        }


    }

    textarea {
        border-color: black;
        width: 100%;
    }

    app-modal-info {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        inset: 0;
        position: fixed;
    }


    option {
        padding: 4px;
    }

    .select select {
        border: none;
        border-bottom: 2px solid black;
        outline: none;
        width: 100%;
        padding: 8px;
        font-size: 1rem;
        font-family: $fontPrimary;
    }
}