
/*variables tipografia*/

$fontSecondary: Roboto, monospace;
$fontAccent: buffaloregular;
$fontPrimary: Quicksand;
$fontOptions: Teko;
$fsizeXXL: 11rem;
$fsizeXL: 4rem;
$fsizeL: 2rem;
$fsOptionEncabezado: 1.8rem;
$fsOptionMenu: 1.25rem;
$fsPrimaryTextXL: 1.2rem;
$fsEncabezado: 1.2rem;
$fsRegular: 1rem;
$fsCaption: 0.9rem;
$fsSmall: 0.7rem;

$fsizeXXLLaptop: 8.8rem;
$fsizeXLLaptop: 3rem;
$fsizeLLaptop: 2rem;
$fsOptionEncabezadoLaptop: 1.3rem;
$fsOptionMenuLaptop: 1.1rem;
$fsPrimaryTextXLLaptop: 1.1rem;
$fsEncabezadoLaptop: 1rem;
$fsRegularLaptop: 0.9rem;
$fsCaptionLaptop: 0.8rem;
$fsSmallLaptop: 0.65rem;

$fsizeXXLTablet: 5rem;
$fsizeXLTablet: 2.3rem;
$fsizeLTablet: 1.7rem;
$fsOptionEncabezadoTablet: 1.2rem;
$fsOptionMenutablet: 1.1rem;
$fsPrimaryTextXLTablet: 1rem;
$fsEncabezadoTablet: 1rem;
$fsRegularTablet: 0.8rem;
$fsCaptionTablet: 0.7rem;
$fsSmallTablet: 0.65rem;

$fsizeXXLMovil: 4.3rem;
$fsizeXLMovil: 2rem;
$fsizeLMovil: 1.6rem;
$fsOptionEncabezadoMovil: 1.3rem;
$fsOptionMenuMovil: 1rem;
$fsPrimaryTextXLMovil: 0.9rem;
$fsEncabezadoMovil: 0.9rem;
$fsRegularMovil: 0.75rem;
$fsCaptionMovil: 0.7rem;
$fsSmallMovil: 0.65rem;
/*variables color*/
//$primaryColor:;
$blueColor: #F9C759;

$primaryColor:#DC4D0C;
$accentColor: #525020;
$secondaryColor: #C3C8D4;

$alternative:#F1DFF1;
$c_alternative:#89166C;

$submitColor: #5ac6a6;
$redColor: #FC0E0E;
$darkColor: #0a0a0a;
$lightColor: #f0f0f0;
//$lightColor:$c_alternative;
$primaryColorHover: #DC4D0C;
$accentColorHover: #9D8B3D;
$breakpoint1440:1440px;
$breakpointLaptop: 1280px;
$breakpoint1180: 1180px;
$breakpointTablet: 1090px;
$breakpoint935: 935px;
$breakpoint860:860px;
$breakpoint800: 800px;
$breakpoint760:760px;
$breakpointMovil: 576px;
$breakpointMovilSmall: 420px;
$breakpointMovilVerySmall: 375px;
